* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Lato", sans-serif;
  background-color: #398e3d;
}
h1 {
  text-align: center;
  margin-top: 1em;
  color: white;
  text-transform: capitalize;
}
section {
  background-color: #fff;
  max-width: 900px;
  margin: 5rem auto;

  border-radius: 5px;
}
article {
  animation: move 200ms linear;
}
@keyframes move {
  to {
    height: auto;
  }
}
.tab {
  cursor: pointer;
}
.tab > span {
  transform: rotate(90deg);
}
svg {
  margin: 0.2em;
  width: 1rem;
}
.group {
  display: flex;
  align-items: center;
}
.group > * {
  margin: 0.5em;
}
.tab {
  font-weight: 600;
  padding: 0.35em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(202, 196, 196);
}

.acordian-content {
  background-color: #eee;
  border-bottom: 1px solid rgb(212, 209, 209);
  color: rgb(34, 33, 33);
  height: 0px;
  overflow: hidden;
  transition: height 200ms linear;
}
.acordian-content.visible + .group {
  cursor: auto;
  background: #000;
}
.visible {
  padding: 1em;
  height: auto;
}
.rotate {
  transform: rotate(0.25turn);
}
.accordion-icon {
  transition: transform 100ms linear;
}
